* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.panel {
  height: 100vh;
  background-image: url("./assets/images/pattern-background-desktop-light.svg");
  background-color: #f4f6fa;
  color: #313e51;
}

.panel::-webkit-scrollbar {
  display: none;
}

.panel.dark {
  background-image: url("../public/assets/images/pattern-background-desktop-dark.svg");
  background-color: #313e51;
  color: #fff;
}

.quiz {
  max-width: 100rem;
  margin: 0 auto;
  padding: 4rem 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.quiz__header {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.quiz__body {
  display: flex;
  /* justify-content: space-between; */
  gap: 10%;
}

.welcome-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.welcome-text__box {
  display: flex;
  flex-direction: column;
  font-size: 6rem;
}

.welcome-text__box span:first-child {
  font-weight: 300;
}

.welcome-text__box span:last-child {
  font-weight: 500;
}

.welcome-text__text,
.question__text--num {
  font-style: italic;
  font-size: 1.6rem;
  color: #626c7f;
}

.welcome-text__text.dark,
.question__text--num.dark {
  color: #abc1e1;
}

.quiz-title {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.quiz-title__box {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.quiz-title__box.dark {
  background-color: #3b4d66;
  box-shadow: transparent 0px 8px 24px;
}

.selected-quiz {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selected-quiz__title,
.quiz-title__box--text {
  font-size: 2rem;
}

.selected-quiz__img,
.quiz-title__box--img {
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-quiz__img img,
.quiz-title__box--img img {
  width: 2.5rem;
  height: 2.5rem;
}

.validation__icon {
  height: 2.4rem;
}

/* Question */
.question {
  display: flex;
  gap: 10%;
}

.question-bar {
  background-color: #ffffff;
  width: 100%;
  height: 1rem;
  border-radius: 10rem;
  position: relative;
}

.question-bar.dark {
  background-color: #3b4d66;
}

.question-bar div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 0.6rem;
  background-color: #a729f5;
  /* width: 50%; */
  transition: width 0.2s;
  border-radius: 10rem;
}

.question__box {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.question__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.question__text--head {
  font-size: 2.5rem;
  font-weight: 500;
}

.question__options {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.question__options input {
  opacity: 0;
  width: 0;
  height: 0;
}

.option__box {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.question__options label {
  display: flex;
  gap: 1rem;
  background-color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 1.4rem;
  align-items: center;
  border: 2px solid transparent;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.option__label {
  font-size: 1.5rem;
}

.option__label.dark {
  background-color: #3b4d66;
  color: #fff;
  box-shadow: transparent 0px 8px 24px;
}

.option__letter {
  font-size: 1.8rem;
  background-color: #f4f6fa;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0.6rem 1.2rem; */
  border-radius: 5px;
  transition: all 0.3s;
}

.option__letter.hover {
  color: #a729f5;
  background: #f6e7ff;
}
.option__letter.checked__letter {
  color: #fff;
  background: #a729f5;
}
.option__letter.correct__letter {
  color: #fff;
  background: #26d782;
}
.option__letter.incorrect__letter {
  color: #fff;
  background: #ee5454;
}

.option__label.dark .option__letter.hover.dark {
  color: #a729f5;
}
.option__label.dark .option__letter.checked__letter.dark {
  color: #fff;
}
.option__label.dark .option__letter.correct__letter.dark {
  color: #fff;
}
.option__label.dark .option__letter.incorrect__letter.dark {
  color: #fff;
}

.option__label.dark .option__letter.dark {
  color: #000;
}

/* .question__options label:hover .option__letter {
  color: #a729f5;
  background-color: hsl(278, 100%, 95%);
} */

.option__label.checked {
  border: 2px solid #a729f5;
}

.option__label.checked.correct__option {
  border: 2px solid #26d782;
}

.option__label.checked.correct__option ~ .option__letter {
  background-color: #26d782;
}

.option__label.checked.incorrect__option {
  border: 2px solid #ee5454;
}

/* .option__label.checked .option__letter {
  background-color: #a729f5;
} */

.btn-submit {
  background-color: #a729f5;
  border: none;
  padding: 1.5rem;
  border-radius: 12px;
  color: #ffffff;
  font-size: 1.4rem;
}

.btn-submit:hover {
  background-color: #d394fa;
}

.error {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #ee5454;
  justify-content: center;
  font-size: 1.4rem;
}

/* Score */

.score__text {
  width: 45%;
}

.score__text h2:first-child {
  font-weight: 300;
  font-size: 4.6rem;
}

.score__text h2:last-child {
  font-size: 4.6rem;
  font-weight: 500;
}

.score__stat {
  width: 45%;
  display: flex;
  flex-direction: column;

  gap: 3rem;
}

.score__stat--box {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  justify-content: center;
  gap: 4rem;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.score__stat--box.dark {
  background-color: #3b4d66;
  box-shadow: transparent 0px 8px 24px;
}

.score__num {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.correct__text {
  font-size: 10rem;
}

.option__text {
  color: #626c7f;
}

.option__text.dark {
  color: #abc1e1;
}
/* Theme */

.theme {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toggle {
  display: inline-block;
  border-radius: 10rem;
  width: 60px;
  height: 34px;
  position: relative;
  padding: 1rem;
}

.toggle input {
  opacity: 0;
}
.toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a729f5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10rem;
}

.toggle__slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle input:checked + .toggle__slider::before {
  transform: translateX(26px);
}

/* RESPONSIVENESS */

/* small Pc */
@media (max-width: 62.5em) {
  html {
    font-size: 56%;
  }

  .quiz {
    padding: 4rem 2rem 4rem;
  }

  .welcome-text__box {
    font-size: 5rem;
  }
}

/* Tablet */

@media (max-width: 46.5em) {
  .panel {
    background-image: url("../public/assets/images/pattern-background-tablet-light.svg");
  }

  .panel.dark {
    background-image: url("../public/assets/images/pattern-background-tablet-dark.svg");
  }

  .welcome-text,
  .quiz-title,
  .question__options,
  .question__box,
  .score__stat,
  .score__text {
    width: 100%;
  }

  .welcome-text__box {
    font-size: 4rem;
  }

  .quiz {
    padding: 4rem;
  }

  .quiz__body,
  .question {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 3rem;
  }

  .question__box {
    gap: 3rem;
  }
  /* 
  .question__options label {
    gap: 1rem;

    padding: 1rem 1rem 1rem 0;
  } */
}

@media (max-width: 23.44em) {
  .panel {
    background-image: url("../public/assets/images/pattern-background-mobile-light.svg");
  }

  .panel.dark {
    background-image: url("../public/assets/images/pattern-background-mobile-dark.svg");
  }

  .quiz {
    padding: 2rem 2rem 0;
  }

  .toggle {
    width: 50px;
    height: 24px;
  }

  .toggle__slider::before {
    height: 16px;
    width: 16px;
  }

  .icon__moon,
  .icon__sun {
    height: 2rem;
  }
}
